* {
   box-sizing: border-box; 
}

body{
    font-family: 'Castoro', serif;
    margin:0;
}

.main-header{
    width:100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
    vertical-align: ;
}

.main-header__brand{
    display: inline-block;
    font-size: larger;
    font-weight: bolder;
}

.main-header__brand > a{
    text-decoration: none;
}
.main-header__nav{
    width: calc(100% - 80px);
    text-align: right;
    display: inline-block;
}
.main-header__nav > ul{
    list-style: none;
    margin:0;
    padding:0;
}

.main-header__nav li{
    display: inline-block;
    margin: 0 16px;
    vertical-align: middle;
}

.main-header__nav a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 1px 0;
}

.main-header__nav a:hover , .main-header__nav a:active{
    color: #ffffff;
    border-bottom: solid #ffffff 4px;
}

.main-header__nav-item--highlight > a{
    padding: 4px 8px;
    background-color: red;
    color: white;
    border-radius: 5px;
    box-shadow: 2px;
}

.main-header__nav-item--highlight > a:hover, 
.main-header__nav-item--highlight > a:active {
    background-color: white;
    color: red;
    border: none;
}
.plan-button{
    background-color: #0e4f1f;
    color: #ffffff;
    border-radius: 8px;
    border: 1.5px solid #0e4f1f;
    padding: 8px 16px;
    font-weight: bold;
    font: inherit;
    cursor: pointer;
}

.plan-button:hover, .plan-button:focus{
    background-color: #ffffff;
    color:  #0e4f1f;
}

.plan-button:focus{
    outline: none;
}
.footer{
    background-color: #000000;
    padding: 32px;
    margin-top: 48px;
}

.footer-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-list__item{
    display: inline-block;
    margin: 0 16px;
}

.footer-list__item  a{
    color: #ffffff;
    text-decoration: none;
} 

.footer-list__item  a:hover,
.footer-list__item  a:active{
    color: #cccccc;

} 