.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .description {
        border: 1px solid rgb(230, 230, 230);
        padding-right: 0.5rem;
        box-shadow: 0.5rem 0 0.8rem 0 #a7d7c5c2;
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .todo {
        border: 1px solid rgb(230, 230, 230);
        padding-right: 0.5rem;
        box-shadow: 0.5rem 0 0.8rem 0 #a7d7c5c2;
        margin: 1rem auto;
        width: 450px;
        ul {
            padding-inline-start: .5rem;
        }
        li {
            list-style: none;
            position: relative;
            margin: 2px;
            padding: 0.5rem 2rem;
            background-color: #d3d3d3;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            &.done {
                background-color: #ccff99;
            }
            &.done::before {
                content: "";
                position: absolute;
                top: 1.3rem;
                left: 0.6rem;
                border-color: #009933;
                border-style: solid;
                border-width: 0 0.3rem 0.25rem 0;
                height: 1rem;
                width: 0.5rem;
                margin-top: -1rem;
                transform: rotate(45deg);
            }
        }

        i {
            height: 13px;
            width: 13px;
            display: inline-block;
            background-color: black;
            color: white;
            border-radius: 50%;
            position: relative;
            &::before {
                content: "i";
                position: absolute;
                transform: translate(4px, 2px);
                line-height: 50%;
            }
            &::after {
                content: attr(data-tootlip);
                width: max-content;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: #00290e;
                color: #ccff99;
                padding: 0.25rem 0.5rem;
                border-radius: 2px;
                transform: scale(0);
                transition: 0.2s ease-in-out;
                z-index: 5;
            }
            &:hover::after {
                transform: scale(1);
                bottom: -150%;
            }
        }
    }
}
