.main-section{
    background: url("freedom.jpg");
    width: 100%;
    height: 550px;
    padding: 10px;
}

.main-section__header{
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}


.plans-section__header{
    color: #2ddf5c;
    text-align: center;
}
.plans-div{
    text-align: center;
    width: 80%;
    margin: auto;
}
.plan{
    display: inline-block;
    background-color: #d5ffdc;
    padding: 16px;
    margin: 8px;
    width: 30%;
    text-align: center;
}
.plan > h1{
    color: #0e4f1f
}

.plan > h2{
    color: #858585;
}
.plan-list {
    list-style: none;
    margin:0;
    padding:0
}
.plan-list > li {
    margin: 8px 0;
}

.plan--highlighted{
  background-color: #19b84c;
  color: #ffffff;  
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan--highlighted .plan--title {
    color: #ffffff;
}
.plan--highlighted .plan--recommended{
    background-color: #ffffff;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    border-radius: 4px;
}

.plan--highlighted .plan--price {
    color:#0e4f1f;
}

.key-features{
    background-color: #ff1b68;
    margin-top: 80px;
    padding: 16px;;
}
.key-feature__header{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin: 32px;
}

.key-feature__list{
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.key-feature__image{
    border-radius: 50%;
    background-color: #ffcede;
    border:2px solid #424242;
    height: 128px;
    width: 128px;
    margin: 0 auto;
}


