@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  height: 80vh;
  width: 90vw;
}

.container .panel {
  flex: 0.5;
  border-radius: 50px;
  margin: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 700ms ease-in-out;
}

.panel.active {
  flex: 5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.panel h3 {
  opacity: 0;
  color: white;
  font-size: 24px;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 700ms ease-in-out 400ms;
}
