html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  background-color: black;
  background-size: cover;
  position: relative; }
  body i {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
    position: absolute;
    transform: rotate(15deg);
    animation-name: shine;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
    body i:after {
      content: "";
      display: block;
      position: absolute;
      background-image: linear-gradient(to left, transparent, white, transparent);
      left: -34px;
      top: calc(50% - 1px);
      width: 80px;
      height: 2px; }
    body i:before {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 80px;
      left: calc(50% - 1px);
      top: -34px;
      background-image: linear-gradient(to bottom, transparent, white, transparent); }

@keyframes shine {
  0% {
    transform: scale(0.1) rotate(-200deg); }
  50% {
    transform: scale(1.2) rotate(180deg); }
  100% {
    transform: scale(0.1) rotate(-200deg); } }
